/* index */

.imgfeature img {
    width: 270px;
    height: 270px;
    object-fit: cover;
}

.benefits {
    justify-content: center;
}

.iconStar img {
    margin: 2%;
    height: 56px;
    width: 56px;
}


.sectionInfo {
    background-color: $third-color;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    h2 {
        padding: 1%;
    }
    div {
        text-align: center;
    }
}

.map {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.boxInfo {
    text-align: center;
    background-color: $second-color;
    border: 1px #000000 solid;
    height: 600px;
    width: 300px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 30px;

    h3 {
        font-family: $main-font;
        font-size: 24px;
    }

    p {
        font-family: $main-font;
        font-size: 18px;
    }
}



.logo {
    width: 160px;
    height: 100px;
}

.boxindex {
    background-color: $third-color;
    img {
        height: 700px;
        width: 100%;
        object-fit: cover;
    }
} 

.buttonWhatsapp {
    margin-top: 2rem;
    height: 65px;
    width: 303px;
    background-color: #ffffff;
    border: 4px #000000 solid;
    img {
        height: 50px;
        width: 50px;
    }
    label {
        font-family: $main-font;
        font-size: 24px;
        margin-top: 7px;
    
    }
}
